<%= render "shared/header"%>
<div class="container my-3">
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to new_shop_path, class: "btn btn-primary mr-1" do%>
      店舗を作成する<i class="fas fa-store mx-1"></i></i><% end %></li>
    </ul>
  </div>
  <div class="font-weight-bold h2"><%= "#{current_admin.name}さんの店舗一覧" %></div>
  <div class="row">
    <%= render partial: "shop" ,collection:  @shops%>
  </div>
  <div class="m-3">
    <%= paginate(@shops) %>
  </div>
</div>
<%= render "shared/footer"%>
