<%= render "shared/header"%>
<div class="container my-3">
  <div class="font-weight-bold h2"><%= "#{current_admin.name}さんの店舗一覧 全#{@shop_count}店" %></div>
  <div class="row">
    <%= render partial: "shop" ,collection:  @shops%>
  </div>
  <div class="m-3">
    <%= paginate(@shops) %>
  </div>
</div>
<%= render "shared/second-footer"%>
