<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="container">

  <div class="row">
    <div class="icon col-md-4">
      <%= link_to image_tag("zaicocco.png", class:"w-25"), root_path %>
      <a href="/" class="btn">ZaiCoCCo</a>
    </div>
    <div class="input-group col-md-8">
      <%= form_with url: items_search_path, local: true, method: :get, class: "form-inline w-100" do |f|%>
        <%= f.text_field :keyword, placeholder: "商品名から探す", class:"form-control w-75" %>
        <%= button_tag type: 'submit', class: "btn btn-warning text-white", id:'search_submit' do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class='nav p-3'>
    <% if admin_signed_in? %>
      <ul class='d-flex justify-content-start'>
        <li><%= link_to new_shop_path, class: "btn btn-primary mr-1" do%>
        店舗を作成する<i class="fas fa-store mx-1"></i></i><% end %></li>
        <li><%= link_to favorites_path, class: "btn btn-warning text-white mr-1" do%>
        お気に入り一覧<i class="fas fa-heart mx-1"></i></i><% end %></li>
      </ul>
    <% elsif user_signed_in? %>
      <ul class='d-flex justify-content-start'>
        <li><%= link_to favorites_path, class: "btn btn-warning text-white mr-1" do%>
        お気に入り一覧<i class="fas fa-heart mx-1"></i></i><% end %></li>
      </ul>
    <% end %>
    <ul class='d-flex justify-content-end ml-auto'>
      <% if admin_signed_in?%>
        <li><%= link_to my_shops_path, class: "btn btn-info mr-1" do%>
        <%= current_admin.name %><i class="fas fa-user mx-1"></i><% end %></li>
        <li><%= link_to  destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary", id: 'sign_out_btn' do%>
        ログアウト<i class="fas fa-sign-out-alt mx-1"></i><% end %></li>
      <% elsif user_signed_in? %>
        <li><%= link_to entrances_user_chanege_desroy_path, class: "btn btn-info mr-1" do%>
        <%= current_user.name %><i class="fas fa-user mx-1"></i><% end %></li>
        <li><%= link_to  destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary", id: 'sign_out_btn' do%>
        ログアウト<i class="fas fa-sign-out-alt mx-1"></i><% end %></li>
      <% else %>
        <li><%= link_to  admins_guest_sign_in_path, method: :post, class: "btn btn-success mr-1", id:'admins_guest_sign_in_btn' do%>
          簡単ログイン<i class="fas fa-star mx-1"></i>
        <% end %></li>
        <li><%= link_to  entrances_sessions_path, class: "btn btn-primary mr-1" do%>
          ログイン<i class="fas fa-sign-in-alt mx-1"></i>
        <% end %></li>
        <li><%= link_to  entrances_registrations_path, class: "btn btn-outline-primary" do%>
          新規登録<i class="fas fa-user-plus mx-1"></i>
        <% end %></li>
      <% end %>
    </ul>
  </div>
  <% if flash[:notice] %>
    <div class="alert-primary alert" role="alert"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert-danger alert" role="alert"><%= flash[:alert] %></div>
  <% end %>
</header>
