<%= render "shared/second-header"%>

<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap alert-primary'>
  <div class='form-header'>
    <div class='font-wight-bold h1 py-5'>
      一般ユーザー情報入力
    </div>
  </div>
  <%= render partial: "shared/registration_form" ,locals: { f: f } %>
    <div class='register-btn mt-4'>
    <%= button_tag type: 'submit', class: "btn btn-block btn-outline-primary" do %>
      会員登録<i class="fas fa-user-plus mx-1 mx-1"></i>
    <% end %>
  </div>
</div>
<% end %>

<%= render "shared/second-footer"%>
